/* Navigation */
@media only screen and (max-width: 914px) {
    #navbar {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-bottom: 2rem;
        transition: all 0.4s ease;
        overflow: hidden;
        max-height: 4.5rem;
    }
    
    #navbar.active {
        max-height: 18rem;
    }

    #navbar #nav-logo {
        margin-left: 0;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    #navbar .burger{
        display: block;
    }
}

/* Services section */
@media only screen and (max-width: 444px){
    .box .border-box {
        width: 118.5%;
    }
}

@media only screen and (max-width: 418px){
    .box .border-box {
        width: 119.7%;
    }
}

@media only screen and (max-width: 394px){
    .box .border-box {
        width: 120.8%;
    }
}

@media only screen and (max-width: 378px){
    .box .border-box {
        width: 122%;
    }
}

@media only screen and (max-width: 363px){
    .box .border-box {
        width: 124%;
    }
}

@media only screen and (max-width: 323px){
    .box .border-box {
        width: 124%;
    }
}

/* Contact section */
@media only screen and (max-width: 1023px){
    #contact-box {
        padding-top: 2rem;
    }
}
