/* Navigation */
@media only screen and (max-width: 914px) {
    #navbar {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-bottom: 2rem;
        transition: all 0.4s ease;
        overflow: hidden;
        max-height: 4.5rem;
    }
    
    #navbar.active {
        max-height: 18rem;
    }

    #navbar #nav-logo {
        margin-left: 0;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    #navbar .burger{
        display: block;
    }
}

/* Home section */
#home {
    /* height: 404px; */
    /* padding: 3px 28px; */
}

#home::before {
    /* height: 460px; */
}

#home p {
    /* font-size: 14px; */
}

/* Services section */
#services {
    /* flex-direction: column; */
    /* margin-bottom: 15px; */
}

#services .box {
    /* padding: 14px; */
    /* margin: 2px 0px; */
    /* margin-bottom: 20px; */
}

/* Clients section */

#clients {
    flex-wrap: wrap;
}

#clients img {
    /* width: 66px; */
    /* padding: 6px; */
    /* height: auto; */
}

/* Contact section */
@media only screen and (max-width: 1023px){
    #contact-box {
        padding-top: 2rem;
    }
}

/* Footer */

.footer {
    /* font-size: 14px; */
}

/* Utility Classes */

.h-primary {
    /* font-size: 26px; */
}

.btn {

    /* font-size: 13px;
    padding: 4px 8px; */
}