* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* Navigation bar */

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    max-height: 4.5rem;
    z-index: 5;
    background-color: rgba(184, 180, 180, 0.295);
    padding-left: 1.5rem;
    box-shadow: 0 0.1rem 0.5rem 0.1rem #999898bf;
    position: sticky;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

/* Navigation bar: Logo and Image */

#navbar #nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    cursor: pointer;
    margin-left: 2rem;
}

#nav-logo img {
    width: 100%;
}

/* Navigation bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 4rem;
}

#navbar ul li {
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a {
    color: #000000;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 0.6rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

#navbar ul li a:hover {
    color: #ff0000;
    background-color: #fff;
}

#navbar .burger{
    position: absolute;
    top: 1.43rem;
    right: 4rem;
    display: none;
}

.burger i{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    height: 35rem;
    background-color: rgba(37, 36, 36, 0.308);
    position: relative;
    top: 0;

}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(/images/bg2.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    opacity: 0.85;
    z-index: -1;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home .first-home-text{
    padding-top: 0.5rem;
}

#home .second-home-text{
    padding-top: 0.7rem;
    padding-bottom: 1.4rem;
}

/* Services Section */
#services-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0 2rem;
}

#services {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.box {
    max-width: 24rem;
    min-width: 17.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid red;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.8rem;
    border-radius: 0.6rem;
    background-color: rgb(240, 233, 233);
}

.box .box-img {
    width: 12rem;
    padding-bottom: 0.5rem;
    display: block;
    overflow:hidden;
}

.box-img img{
    width: 100%;
    transition: transform 0.4s ease;
}

.box-img img:hover {
    transform: scale(1.3);
}

.box .border-box{
    width: 23.8rem;
    background-color: #ff0000;
    height: 0.06rem;
}

.box h2{
    padding-top: 1.5rem;
    font-size: 1.7rem;
}

.box h2 a {
    text-decoration: none;
    color: #000000;
    transition: color 0.4s ease;
}

h2 a:hover {
    text-decoration: underline;
    color: #ff0000;
}

.box p {
    font-size: 1.0rem;
    font-family: 'Bree Serif', serif;
}

/* Client Section */

#client-section {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0 2rem;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 4rem;
}

.client-item {
    width: 8rem;
}

.client-item img {
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.client-item img:hover {
    transform: scale(1.3) translateY(-1rem);
}

/* Contact Section */

#contact {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0 2rem;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12rem;
    padding-top: 4rem;
}

#contact-box .first-image-part {
    width: 25rem;
}

.first-image-part img {
    width: 100%;
}

#contact form {
    max-width: 30rem;
    min-width: 17.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .form-group {
    position: relative;
}

.form-group input,
textarea {
    width: 100%;
    padding: 1.1rem;
    font-size: 0.9rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #fff;
    border: 0.1rem solid #ccc;

}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
    appearance: none;
}

.form-group label {
    font-family: 'Bree Serif', serif;
    font-size: 0.9rem;
    position: absolute;
    left: 1.2rem;
    top: 1rem;
    transition: transform 0.4s ease;
    z-index: 2;
    background-color: #fff;
    pointer-events: none;
    padding: 0 0.3rem;
}

.form-group input:focus+label,
.form-group textarea:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:not(:placeholder-shown)+label {
    transform: translateY(-1.6rem);
    color: #0f0fb9;
    font-size: 0.9rem;
    z-index: 3;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 0.1rem solid #0f0fb9;
}

#contact form button {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.1rem;
}

.form-group button:hover {
    color: #000000;
    background-color: #fff;
    border: 0.1rem solid #000000;
}

/* Subscribe Us Section */

#subscribe-us{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 6rem 2rem;
}

#subscribe-us .subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.subscribe-container .subscribe-sub-heading h4{
    font-size: 1.3rem;
}

.subscribe-container .subscribe-para p{
    font-size: 1.15rem;
}

.subscribe-container .subscribe-text p{
    font-size: 1.06rem;
    font-style: italic;
}

.subscribe-container form{
    display: flex;
    max-width: 30rem;
    min-width: 17.5rem;
    width: 100%;
    padding-top: 2rem;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
}

.subscribe-container form input{
    width: 100%;
    padding: 1rem 0.8rem;
    border: none;
    outline: none;
    border: 0.1rem solid #ccc;
    font-size: 0.94rem;
    border-radius: 0.4rem;
}

.subscribe-container form input:focus{
    outline: none;
    border: 0.1rem solid #0f0fb9;
}

.subscribe-container form button{
    width: 12rem;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    font-size: 0.94rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background: #ff0000;
    color: #fff;
    transition: background 0.4s ease;
}

.subscribe-container form button:hover{
    background: #bb0a0a;
}

/* Footer Section  */

#footer {
    padding: 1rem 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .footer-first-part {
    padding-left: 5rem;
}

#footer .footer-second-part {
    padding-right: 5rem;
}

.footer-first-part p,
.footer-second-part p {
    color: #fff;
    font-size: 1rem;
}

/* Utility Classes */

.h-primary {
    font-size: 3.2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    cursor: pointer;
    font-size: 1.9rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}

.center {
    text-align: center;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.0rem;
    border: 0.1rem solid #fff;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    text-align: center;
    transition: all 0.4s ease;
}

.btn:hover {
    border: 0.1rem solid #000000;
    background-color: #fff;
    color: #000000;
}